.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}

#profilePic {
  display: inline-block;
  border-radius: 50%;
}

body {
  overflow: hidden;
  background-color: #EEEEEE;
}

md-whiteframe {
  background: #fff;
}

#content {
  padding: 24px;
}