md-dialog {
  height : 200px
}
md-progress-circular {
  z-index: -1;
}

body {
  overflow-y: scroll;
  background-color: #EEEEEE;
}

md-whiteframe {
  background: #fff;
}

.loginBox {
  max-width:  90%;
  width: 500px
}

.png-icon{
    margin: 5px auto auto;
    padding: 0;
    height: 100px;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
    max-width:100%;
}

.stretch input  {
  width: 100%
}

#content {
  padding: 24px;
}

#loading {
	visibility: hidden
}
#loadingDialog {
	height:200px !important;
	overflow: hidden;
	height: 80%;
	text-align:center;
}

#chartPanel {
  width: 50%; 
  margin: 0 auto;
  height:500px !important;
  width: 1000px;
}

#startImage {
  width: 50%; 
  margin: 0 auto;
  height:650px !important;
  width: 1000px;
}

#profilePic {
  display: inline-block;
  border-radius: 50%;
  height:75px !important;
  width: 75px;
}
}

#profileInfo {
  display: inline-block;
}
