<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <div class="loginBox md-whiteframe-z1" layout="column">
    <md-toolbar>
      <div class="row">
        <div class="col-md-4" />
        <div class="col-md-4">
          <img src="images/user.svg" class="img-responsive img-circle" alt="" id="profilePic">
        </div>
        <div class="col-md-4" />  
      </div>
    </md-toolbar>
    <md-toolbar>
      <div class="row">
        <div class="col-md-4" />
        <div class="col-md-4" style="text-align: center">
          <h2 class="md-toolbar-tools"><span style="margin: auto">Login</span></h2>
        </div>
        <div class="col-md-4" />  
      </div>
    </md-toolbar>
    <md-content class="md-padding" layout="center center">
      <div layout="row" layout-align="center center" style="padding-top:20px">
        <md-button g-login class="md-raised md-warn" type="button" ng-href="#!/home">Google Login</md-button>
        <div flex="flex"></div>
      </div>
    </md-content>
  </div>
</div>