<div layout="row" layout-fill ng-cloak>
  <section layout="column" role="main" flex>
    <md-toolbar role="toolbar" class="md-tall md-hue-2" layout-align="center center">
      <div class="md-toolbar-tools" layout layout-padding>
        <div class="col-md-3" style="display: inline-block">
          <div id="profileInfo">
            <img ng-src="{{getUserInfo().imageUrl}}" class="img-responsive img-circle" alt="" id="profilePic">
            <div layout="column">
              <span class="md-body-2">{{getUserInfo().name}}</span>
              <span class="md-caption">{{getUserInfo().email}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="text-align: center">
          <h2>Sociometric analysis dashboard</h2>
        </div>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" aria-label="Main menu" ng-click="$mdMenu.open($event)">
            <md-icon>message</md-icon>
          </md-button>
          <md-menu-content width=4>
            <md-subheader>Main menu</md-subheader>
            <md-menu-item ng-repeat="action in data.mainMenu">
              <md-button layout-fill md-ink-ripple ng-click="onMainMenuClick(action.link)">
                <md-icon md-menu-align-target>{{action.icon}}</md-icon>
                {{action.name}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <section id="content" role="content" layout="column" layout-padding md-scroll-y>
      <md-content class="md-whiteframe-z2" ng-cloak>
        <md-list>
          <div class="md-actions" layout layout-align="end center">
            <md-subheader class="md-no-sticky md-primary">Dashboard</md-subheader>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
              <md-button class="md-icon-button" aria-label="Analysis Menu" ng-click="$mdMenu.open($event)">
                <md-icon class="md-primary">settings</md-icon>
              </md-button>
              <md-menu-content width=4>
                <md-subheader>Analysis menu</md-subheader>
                <md-menu-item ng-repeat="action in data.analysisMenu">
                  <md-button layout-fill md-ink-ripple ng-click="onSubMenuClick(action.link)">
                    <md-icon md-menu-align-target>{{action.icon}}</md-icon>
                    {{action.name}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <md-divider></md-divider>
        </md-list>
        <div ng-include="getInclude()"></div>
      </md-content>
    </section>
  </section>
</div>