<md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	<md-toolbar class="md-tall md-hue-2" layout-align="center center">
		<div class="md-toolbar-tools" layout layout-padding>
			<img ng-src="{{getUserInfo().imageUrl}}" class="img-responsive img-circle" alt="" id="profilePic">
			<div layout="column">
				<span class="md-body-2">{{getUserInfo().name}}</span>
				<span class="md-caption">{{getUserInfo().email}}</span>
			</div>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="User Settings" ng-click="logout()" ng-href="#!/login">
				<md-icon>more_vert</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content role="navigation">
		<md-list ng-repeat="section in data.sidenav.sections">
			<md-list-item ng-click="section.expand = !section.expand">
				<p class="md-subheader md-primary">{{section.name}}</p>
				<span flex></span>
				<md-icon class="md-primary md-icon-button">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
			</md-list-item>
			<md-list-item ng-show="section.expand" ng-repeat="action in section.actions" ng-click="setActiveContent(action.name, action.link)">
				<md-icon>{{action.icon}}</md-icon>
				<p class="md-body-2">{{action.name}}</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>
	</md-content>
</md-sidenav>